body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

#map {
    height: 100vh;
    width: 55vw;
}

.grid-container {
  display: grid;
  grid-template-columns: 55vw 45vw;
  grid-template-rows: 100vh;
}

/* Columns */
.grid-1 {
  height: 100%;
  width: 100%;
}

.grid-2 {
  height: 100%;
  width: 100%;
}

.column-menu {
  height: 100%;
  width: 100%;
  padding: 1px;
  background-color: #eae2e2;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

#menu_title {
  margin: 0;
  padding: 16px;
  width: 100%;
  text-align: center;
  font-size: 28px;
  flex: 0 0 auto;
}

#placeimage {
  width: 100%;
  flex: 1 1 auto;
  min-height: 0;
  max-height: 70%;
  object-fit: cover;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#menu_text {
  margin: 0;
  padding: 10px;
  width: 100%;
  text-align: left;
  font-size: 22px;
  flex: 0 0 auto;
}